<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
	<!--Mypc-->
    <add name="DBCOnnection" connectionString="Data Source=DESKTOP-D127J5G\SQLEXPRESS;Initial Catalog=ZBcashReg;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ZBcashRegEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-D127J5G\SQLEXPRESS;initial catalog=ZBcashReg;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
	<!--Malberry-->
	<!--<add name="DBCOnnection" connectionString="Data Source=DESKTOP-UAS609D\SQLEXPRESS;Initial Catalog=ZBcashReg;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="ZBcashRegEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UAS609D\SQLEXPRESS;initial catalog=ZBcashReg;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
	<!--Colombo-->
	<!--<add name="DBCOnnection" connectionString="Data Source=DESKTOP-550OR1E\SQLEXPRESS;Initial Catalog=ZBcashReg;Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="ZBcashRegEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-550OR1E\SQLEXPRESS;initial catalog=ZBcashReg;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <!--<add key="ReportPath" value="D:\\PP\\Projects\\zetabrain\\zetabrain web sol\\Solutions\\malberry\\cash registry system kandy\\versions\\version 7\\PProject\\ZBCashRegistation\\ZBCashRegistation\\Report\\" />-->

	<add key="ReportPath" value="D:\\ZBCashRegistation\\ZBCashRegistation\\Report\\" />

  </appSettings>

</configuration>